 
.tb_tr  {
  font-size: 10px;
  color: gray;
  border: 3px solid;
  vertical-align: middle;
}

.tb_tr_t  {
  font-size: 15px;
  border: 3px solid;
  vertical-align: middle;
}

.cs_z {
   width: 5%;
}

.cs_zi {
  width: 55px;
}

.tb_th_fs_t {
  width: 30%;
}


.tb_th_fs {
  width: 30px;
}
.tb_td {
  font-size: 11px;
  border: 3px solid;

}

.tb_tds {
  color: #6666ff;
  cursor: pointer;
  transition: all 0,25 ease;
}

.tb_tds:hover {
  background-color: #ccf;
  color: #52339a;
}

.kv {
  color: #66f;
  cursor: pointer;
  transition: all 0,25 ease;
}
.kv:hover {
  background-color: #ccf;
  color: #52339a;
}
.ci {
  cursor: pointer;
}

.dalert {
  font-size: 11px;
  vertical-align: middle;
}
.form-control-sm, .alert-success {
   max-width: 400px;
   padding: 20px;
   margin: 0 auto;
}

.navbar-light {
   background-color: #90D7EE;
}

.nl-a {
   color: #0A06A7;
}

.nl-a:hover {
  background-color: #ccf;
  color: #52339a;
}

.navbar-brand {
  font-size: 20px;
}


.btn-outline-primary {
  color: #52339a;
  font-size: 12px;

}

.sel_cl {
  color: #52339a;
  font-size: 15px;
}

.sel_ {
  font-size: 15px;
}

.sel_m {
  
  
  font-size: 15px;
}

.trr {
  width: 30%;
}

.sel_2 {
  vertical-align: middle;
}


.rro {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}
